# SocialCops Assignment - Q1

### Kailash Negi

#### Problem Statement :-->

A client of SocialCops was using Collect for household Survey in the Krishna district of Andhra Pradesh. It turns out in some responses, data collectors have missed entering the Assembly Constituency Names (AC), Mandal Names and Village Names in the relevant field. Fortunately, the client has maintained a database of all the tablets being deployed in different villages in
different dates. Attached is an excel file &lt;Tab_Villages_Mapping.xlsx&gt; containing two sheets: Sheet 1 one contains a list of around 21,000 responses for which AC, Mandal and Village Names are missing and Sheet 2 contains a list of tablets in use in different villages in different dates. Can you get the missing Village Names? [Hint: You may not get names of all the missing
villages!]

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [69]:
## Reading data from both sheets of excel file "Tab_Villages_Mapping"
SurveyDataFrame = pd.read_excel('C://Users/abc/Desktop/Data Analytics/Projects/SocialCops - Assignment/Tab_Villages_Mapping.xlsx', sheetname="Sheet1",date_format='%Y%m%d')
TabletDataFrame = pd.read_excel('C://Users/abc/Desktop/Data Analytics/Projects/SocialCops - Assignment/Tab_Villages_Mapping.xlsx', sheetname="Sheet2",date_format='%Y%m%d')

#### Checking data for SurveyDataFrame

In [70]:
SurveyDataFrame.head()

   Response No  Tab No Survey Date  AC Name  Mandal Name  Village Name
0          202      35  2015-05-24      NaN          NaN           NaN
1          203     400  2015-07-09      NaN          NaN           NaN
2          206     498  2015-06-10      NaN          NaN           NaN
3          206     487  2015-06-13      NaN          NaN           NaN
4          207     455  2015-05-31      NaN          NaN           NaN

#### Checking data for TabletDataFrame

In [71]:
TabletDataFrame.head()

,AC Name,Mandal Name,Village Name,Tab No,Survey Start Date,Survey End Date
0,Mylavaram,Vijayawada (R),paidurpadu,96,21-May-2015,31-May-2015
1,Mylavaram,Vijayawada (R),paidurpadu,99,21-May-2015,31-May-2015
2,Mylavaram,Vijayawada (R),paidurpadu,106,21-May-2015,31-May-2015
3,Mylavaram,Vijayawada (R),paidurpadu,103,21-May-2015,31-May-2015
4,Mylavaram,Vijayawada (R),paidurpadu,97,21-May-2015,31-May-2015

#### Checking Data Type of both data data frames

In [72]:
SurveyDataFrame.dtypes

Response No              int64
Tab No                   int64
Survey Date     datetime64[ns]
AC Name                float64
Mandal Name            float64
Village Name           float64
dtype: object

In [73]:
TabletDataFrame.dtypes

AC Name              object
Mandal Name          object
Village Name         object
Tab No                int64
Survey Start Date    object
Survey End Date      object
dtype: object

In [74]:
# Converting "Survey Start Date" and "Survey End Date" to datetime as they are object type
TabletDataFrame['Survey Start Date'] = pd.to_datetime(TabletDataFrame['Survey Start Date'])
TabletDataFrame['Survey End Date'] = pd.to_datetime(TabletDataFrame['Survey End Date'])

#### Again checking data type of TabletDataFrame to make sure column has been converted in date type

In [75]:
TabletDataFrame.dtypes

AC Name                      object
Mandal Name                  object
Village Name                 object
Tab No                        int64
Survey Start Date    datetime64[ns]
Survey End Date      datetime64[ns]
dtype: object

#### Checking info of both data frames

In [76]:
SurveyDataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21531 entries, 0 to 21530
Data columns (total 6 columns):
Response No     21531 non-null int64
Tab No          21531 non-null int64
Survey Date     21531 non-null datetime64[ns]
AC Name         0 non-null float64
Mandal Name     0 non-null float64
Village Name    0 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(2)
memory usage: 1009.3 KB

In [77]:
TabletDataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2224 entries, 0 to 2223
Data columns (total 6 columns):
AC Name              2224 non-null object
Mandal Name          2224 non-null object
Village Name         2224 non-null object
Tab No               2224 non-null int64
Survey Start Date    2224 non-null datetime64[ns]
Survey End Date      2224 non-null datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(3)
memory usage: 104.3+ KB

#### Creating a new data frame (making copy of existing df) where we can impute values. (Just to keep original data frame unchanged)

In [78]:
FinalDataFrame = SurveyDataFrame.copy()

In [79]:
cnt=0
for idx in SurveyDataFrame.index:
    for jdx in TabletDataFrame.index:
        if (SurveyDataFrame['Survey Date'][idx] >= TabletDataFrame['Survey Start Date'][jdx] and SurveyDataFrame['Survey Date'][idx] <= TabletDataFrame['Survey End Date'][jdx]) and (SurveyDataFrame['Tab No'][idx]==TabletDataFrame['Tab No'][jdx]):
            FinalDataFrame.loc[idx,'Village Name'] = TabletDataFrame['Village Name'][jdx]
#             FinalDataFrame.loc[idx,'Mandal Name'] = TabletDataFrame['Mandal Name'][jdx]
#             FinalDataFrame.loc[idx,'AC Name'] = TabletDataFrame['AC Name'][jdx]

In [80]:
#Removing time part from "Survey Date" column so that only date part is exported in excel file.
FinalDataFrame['Survey Date'] = FinalDataFrame['Survey Date'].dt.date
FinalDataFrame.head()

   Response No  Tab No Survey Date  AC Name  Mandal Name     Village Name
0          202      35  2015-05-24      NaN          NaN        Maremanda
1          203     400  2015-07-09      NaN          NaN              NaN
2          206     498  2015-06-10      NaN          NaN     Anigallapadu
3          206     487  2015-06-13      NaN          NaN  Penuganchiprolu
4          207     455  2015-05-31      NaN          NaN       KOTHAPALLI

### Exporting the output to excel file

In [81]:
FinalDataFrame.to_excel('C:/Users/abc/Desktop/Data Analytics/Projects/SocialCops - Assignment/Tab_Villages_Mapping_Imputed.xlsx',index=False)

#### And its DONE....... :)